<h3>New Comment </h3>
<%= form_for @new_comment do |f| %>
<%= f.hidden_field :post_id %>
<%= f.label :choose_user %>
<%= f.collection_select :user_id, User.all, :id, :username %><br><br>
<%= f.label :create_new_user %>
<%= f.text_field :username, id: 'comment_user_attributes_username' %>
<br><br>
<%= f.text_area :content, id: 'comment_content' %><br><br>
<%= f.submit %>
<% end %>
