<h1> <%= @post.title %> </h1>
<p> <%= @post.content %> </p>

<B>Under: </B>
<% @post.categories.each do |cat| %>
 <%= cat.name %>;
<% end %>

<h3>Users: </h3>
<% @users.each do |user| %>
<p> <%= link_to user.username, user_path(user) %> </p>
<% end %>

<% @comments.all.each do |comment| %>
<p> <%= comment.user.username %> says: <%= comment.content %></p>
<% end %>


<%= render 'comments/form', post: Comment.new %>
